CHROME

<div id="lui-popover-4" class="lui-popover-container ng-scope" tabindex="-1" qva-focus="autoFocus" ng-style="style" lui-component="" x-template="template" x-controller="controller" x-input="input" x-close="close" x-variant="variant" x-arrow="arrow" qva-outside="onOutside($event)" qva-outside-ignore-for="" style="position: absolute; top: 366px; left: 649px; margin-right: 10px; margin-bottom: 10px;"><div lui-class-list="classList" class="qv-listbox-popover ng-scope lui-popover" style="min-width: 200px;width: 234px;height: 332px" on-close-view="closeView(event)" qva-outside-ignore-for="" qva-scroll-outside="close()">
	<ng-transclude>
	<div class="lui-nopad lui-popover__body ng-scope" ng-transclude="" style="height: 332px">
		<div class="toolbar-wrapper ng-scope ng-isolate-scope" qva-include-selection-toolbar="" component="input.selectionToolbarComponent" toolbar="toolbar" options="input.options"><div qva-direction="" class="qv-selection-toolbar qvt-selection-toolbar ng-scope sel-toolbar-popover" ng-style="toolbar.style" ng-class="{ 'sel-toolbar-card': !options.isPopover, 'sel-toolbar-popover': options.isPopover, 'sel-toolbar-click-to-unlock-bg': locked, 'sel-toolbar-menu-item': locked }" ng-click="locked &amp;&amp; toggleLock($event);" dir="ltr" style="width: 232px;">
    <div class="sel-toolbar-list-wrapper">
		<table class="sel-toolbar-list">
            <tbody><tr>
                <!-- ngIf: toolbar.showLock || locked -->
				<td class="sel-toolbar-list-item" ng-class="{ 'sel-toolbar-list-item-hide-more': !shouldShowBtnMore() }">
					<button tid="selection-toolbar.toggleShowMenu" class="sel-toolbar-btn sel-toolbar-icon sel-toolbar-icon-toggle" ng-class="{ 'menu-active': toolbar.showMenu }" q-title-translation="Tooltip.SelectionMenu" ng-click="toggleShowMenu($event)" title="Selection menu">
						<span class="lui-icon  lui-icon--more"></span>
					</button>
				</td>
                <td ng-show="locked" class="sel-toolbar-list-item-locked ng-hide">
                    <p class="sel-toolbar-menu-text" q-translation="SelectionToolbar.ClickToUnlock">Click to unlock</p>
                </td>
                <td ng-show="locked &amp;&amp; options.smallDevice" ng-click="toolbar.selectionsApi.confirm()" class="sel-toolbar-list-item-close ng-hide">
                    <qui-toolbarbutton>
                        <span class="sel-toolbar-menu-text sel-toolbar-btn-close-text" q-translation="Common.Close">Close</span>
                    </qui-toolbarbutton>
				</td>
				<!-- ngRepeat: select in selectComponents -->
                <!-- ngRepeat: button in filteredButtons --><td ng-show="!locked" ng-repeat="button in filteredButtons" class="sel-toolbar-list-item ng-scope" ng-class="button.clazz">
                    <button tid="selection-toolbar.clear" ng-click="buttonAction($event, button)" q-title-translation="Tooltip.clearSelection" ng-disabled="buttonIsDisabled(button)" class="sel-toolbar-btn clear sel-toolbar-icon" ng-class="[button.buttonClass, button.isIcon ? 'sel-toolbar-icon' : '', button.isActive(this) ? 'menu-active' : '']" disabled="disabled" title="Clear selection">
                        <span class="sel-toolbar-span-icon lui-icon lui-icon--clear-selections" ng-class="button.iconClass"></span>
                    </button>
                </td><!-- end ngRepeat: button in filteredButtons --><td ng-show="!locked" ng-repeat="button in filteredButtons" class="sel-toolbar-list-item ng-scope sel-toolbar-separator" ng-class="button.clazz">
                    <button tid="" ng-click="buttonAction($event, button)" q-title-translation="" ng-disabled="buttonIsDisabled(button)" class="sel-toolbar-btn sel-toolbar-icon-separator" ng-class="[button.buttonClass, button.isIcon ? 'sel-toolbar-icon' : '', button.isActive(this) ? 'menu-active' : '']" disabled="disabled">
                        <span class="sel-toolbar-span-icon lui-icon" ng-class="button.iconClass"></span>
                    </button>
                </td><!-- end ngRepeat: button in filteredButtons --><td ng-show="!locked" ng-repeat="button in filteredButtons" class="sel-toolbar-list-item ng-scope" ng-class="button.clazz">
                    <button tid="selection-toolbar.undo" ng-click="buttonAction($event, button)" q-title-translation="Tooltip.CancelSelections" ng-disabled="buttonIsDisabled(button)" class="sel-toolbar-btn sel-toolbar-cancel" ng-class="[button.buttonClass, button.isIcon ? 'sel-toolbar-icon' : '', button.isActive(this) ? 'menu-active' : '']" title="Cancel selection">
                        <span class="sel-toolbar-span-icon lui-icon lui-icon--close" ng-class="button.iconClass"></span>
                    </button>
                </td><!-- end ngRepeat: button in filteredButtons --><td ng-show="!locked" ng-repeat="button in filteredButtons" class="sel-toolbar-list-item ng-scope" ng-class="button.clazz">
                    <button tid="selection-toolbar.refresh" ng-click="buttonAction($event, button)" q-title-translation="Tooltip.ConfirmSelections" ng-disabled="buttonIsDisabled(button)" class="sel-toolbar-btn sel-toolbar-confirm" ng-class="[button.buttonClass, button.isIcon ? 'sel-toolbar-icon' : '', button.isActive(this) ? 'menu-active' : '']" disabled="disabled" title="Confirm selection">
                        <span class="sel-toolbar-span-icon lui-icon lui-icon--tick" ng-class="button.iconClass"></span>
                    </button>
                </td><!-- end ngRepeat: button in filteredButtons -->
            </tr>
        </tbody></table>

	</div>
	
	<!-- Menu container (drop-down) -->
	<!-- ngIf: toolbar.showMenu -->
</div>
</div>
		<div class="listbox-wrapper ng-scope">
			<div class="qv-object-wrapper ng-isolate-scope" ng-class="wrapperClassList" x-ms-format-detection="none" object="object" model="input.model" options="input.options">

	<article class="qv-object qvt-visualization qv-layout-xsmall qv-object-listbox qv-selections-active" ng-class="classList" tid="qv-object-listbox">
		<div class="qv-inner-object" ng-style="styles.backgroundColor" style="background-color: transparent;">
			<!-- ngIf: object.throbberApi.isVisible -->
			<!-- ngIf: object.throbberApi.isQueryCanceled -->
			<!-- ngIf: object.throbberApi.isLongRunningQuery && !object.throbberApi.isQueryCanceled -->

			<label class="hidden-screen-reader-label" q-translation="Object.Listbox">List box</label>
			<!-- ngIf: !layout.title -->
			<header qva-direction="" x-dir-setting="ltr" ng-show="object.hasFrame" class="qv-object-header ng-hide" ng-class="{'thin' : !object.showTitles || ( layout.title === '' &amp;&amp; layout.subtitle === '' &amp;&amp; !object._inEditState )}" dir="ltr">
				<h1 ng-show="object.showTitles" qva-direction="" x-dir-setting="ltr" ng-attr-title="{{layout.title}}" class="qv-object-title qvt-visualization-title" qva-activate="titleClicked();" ng-style="styles.title" dir="ltr" title="Season" style="font-size: 1em; color: rgb(89, 89, 89);">
					<!-- ngIf: options.showSearch && object.isInteractive && !object.backendApi.isLocked() && !object._inEditState --><a ng-if="options.showSearch &amp;&amp; object.isInteractive &amp;&amp; !object.backendApi.isLocked() &amp;&amp; !object._inEditState" q-title-translation="Common.Search" class="qv-object-search lui-icon lui-icon--search ng-scope" qva-activate="options.showSearch &amp;&amp; options.search.toggle()" title="Search"></a><!-- end ngIf: options.showSearch && object.isInteractive && !object.backendApi.isLocked() && !object._inEditState -->
					<!-- ngIf: options.showSearch && object.isInteractive && object.backendApi.isLocked() -->
					<!-- ngIf: options.showSearch && object.backendApi.isDrillDown() -->
					<!-- ngIf: options.highlightTitle && (!object._inEditState || object._inEditState && object.isReadonly) -->
					<!-- ngIf: !options.highlightTitle && (!object._inEditState || object._inEditState && object.isReadonly) --><div ng-if="!options.highlightTitle &amp;&amp; (!object._inEditState || object._inEditState &amp;&amp; object.isReadonly)" class="qv-object-title-text ng-binding ng-scope" qva-direction="" x-dir-setting="ltr" x-dir-text="Season" dir="ltr">Season</div><!-- end ngIf: !options.highlightTitle && (!object._inEditState || object._inEditState && object.isReadonly) -->
					<!-- ngIf: options.showDisclaimerStar && !!layout.title && !object._inEditState -->
					<!-- ngIf: object._inEditState && !object.isReadonly -->
				</h1>

				<!-- ngIf: !!layout.subtitle && object.showTitles -->
			</header>

			<div class="qv-object-content-container">
				<div class="qv-object-content ng-isolate-scope" qv-object-content="" component="object.content" options="options" object="object" backend-api="object.backendApi" layout="layout" ext="object.ext" selections-api="object.selectionsApi" tooltip-api="object.tooltipApi" throbber-api="object.throbberApi" on-init="onInit"><div class="qv-listbox-container ng-scope qv-listbox-interactive" ng-focus="setFocus()" ng-class="{ 'qv-listbox-interactive': navigatable }" tid="qv-listbox-container">
	<div qva-direction="" x-dir-setting="ltr" qv-listbox-search="" ng-show="options.search.show" class="qv-listbox-search" dir="ltr">
		<div lui-class-list="classList" query="query" is-focused="focusedSearch" on-escape="onEscape($event);" auto-focus="autoFocus" placeholder="Object.Listbox.Search" ng-class="searchFocusClass" class="ng-isolate-scope lui-search">
	<span class="lui-icon  lui-icon--search  lui-search__search-icon"></span>
	<input class="lui-search__input ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched" maxlength="255" q-placeholder="Object.Listbox.Search" ng-model="query" ng-disabled="disabled" autocomplete="" spellcheck="false" ng-trim="false" type="text" qva-blur="blurred()" qva-focus="autoFocus" qv-escape="escape($event)" qv-enter="enter($event)" placeholder="Search in listbox">
	<button class="lui-search__clear-button ng-hide" q-title-translation="Common.Clear" ng-show="query.length" ng-click="clearSearch($event)" title="Clear">
		<span class="lui-icon  lui-icon--small  lui-icon--close"></span>
	</button>
</div>
	</div>
	<div class="qv-listbox-wrapper searchActive" ng-class="{ 'searchActive': options.search.show }">
		<!-- ngIf: showSearchThrobber -->
		<div dir="ltr" class="qv-listbox-scroll-area qv-animate ng-isolate-scope qv-listbox-virtual-scroll-enabled" ng-class="{ 'qv-listbox-virtual-scroll-enabled': scrollApi.virtualScrollEnabled }" x-direction="options.direction" style="">
	<div class="scroll-content" ng-transclude="">
			<ul class="qv-listbox ng-scope" ng-class="{ 'align-bottom': scrollApi.alignBottomAbsolute }" ng-style="listStyle" qva-direction="" x-dir-setting="ltr" qv-selections-select-while-locked="selectWhileLocked()" qv-selections-toggle-dimension-value="{ selector: 'li', itemKey: 'item' }" qv-selections-on-toggle-dimension-value="interactive &amp;&amp; select($event, item)" qv-selections-multiselect="{ selector: 'li', itemKey: 'item' }" qv-selections-start-multiselect="interactive &amp;&amp; multiselectStart($event)" qv-selections-update-multiselect="interactive &amp;&amp; multiselectUpdate(start, current)" qv-selections-end-multiselect="interactive &amp;&amp; multiselectEnd($event)" ng-keydown="handleKeyDown($event)" ng-keyup="handleKeyUp($event)" role="listbox" dir="ltr" style="color: rgb(89, 89, 89); font-size: 12px;">
				<li class="qv-listbox-load-buttons qv-scroll-data-load-buttons ng-isolate-scope ng-hide previous" ng-class="{ previous: previous }" tag="li" ng-show="navigatable &amp;&amp; scrollApi.loadPrevious" on-load="scrollApi.gotoPreviousBlock()" text="Object.Listbox.LoadPrevious" previous="true">
	<div ng-transclude=""></div>
	<button class="lui-button" qva-activate="load()" ng-disabled="disabled">
		<p q-translation="Object.Listbox.LoadPrevious">Load previous</p>
	</button>
</li>
				<!-- ngRepeat: item in items --><li tabindex="-1" aria-label="FA2017 Optional" role="option" ng-repeat="item in items" ng-class="item.classNames" tid="listbox.item" class="ng-scope serverOptional">
					<div class="qv-listbox-tick"><i class="lui-icon tick-icon lui-icon--tick" ng-class="{'lui-icon--tick': !item.locked, 'lui-icon--lock': item.locked, }"></i></div>
					<div class="qv-listbox-text" ng-style="item.style" dir="auto" style="text-align: left;">
						<span ng-attr-title="{{item.tipText}}" title="FA2017">
							<!-- ngRepeat: textItem in item.textItems --><span ng-repeat="textItem in item.textItems" ng-class="{ highlighted: textItem.isHighlighted }" ng-bind="textItem.text" class="ng-binding ng-scope">FA2017</span><!-- end ngRepeat: textItem in item.textItems -->
						</span>
					</div>
				</li><!-- end ngRepeat: item in items --><li tabindex="-1" aria-label="FA2018 Optional" role="option" ng-repeat="item in items" ng-class="item.classNames" tid="listbox.item" class="ng-scope serverOptional">
					<div class="qv-listbox-tick"><i class="lui-icon tick-icon lui-icon--tick" ng-class="{'lui-icon--tick': !item.locked, 'lui-icon--lock': item.locked, }"></i></div>
					<div class="qv-listbox-text" ng-style="item.style" dir="auto" style="text-align: left;">
						<span ng-attr-title="{{item.tipText}}" title="FA2018">
							<!-- ngRepeat: textItem in item.textItems --><span ng-repeat="textItem in item.textItems" ng-class="{ highlighted: textItem.isHighlighted }" ng-bind="textItem.text" class="ng-binding ng-scope">FA2018</span><!-- end ngRepeat: textItem in item.textItems -->
						</span>
					</div>
				</li><!-- end ngRepeat: item in items --><li tabindex="-1" aria-label="HO2017 Optional" role="option" ng-repeat="item in items" ng-class="item.classNames" tid="listbox.item" class="ng-scope serverOptional">
					<div class="qv-listbox-tick"><i class="lui-icon tick-icon lui-icon--tick" ng-class="{'lui-icon--tick': !item.locked, 'lui-icon--lock': item.locked, }"></i></div>
					<div class="qv-listbox-text" ng-style="item.style" dir="auto" style="text-align: left;">
						<span ng-attr-title="{{item.tipText}}" title="HO2017">
							<!-- ngRepeat: textItem in item.textItems --><span ng-repeat="textItem in item.textItems" ng-class="{ highlighted: textItem.isHighlighted }" ng-bind="textItem.text" class="ng-binding ng-scope">HO2017</span><!-- end ngRepeat: textItem in item.textItems -->
						</span>
					</div>
				</li><!-- end ngRepeat: item in items --><li tabindex="-1" aria-label="HO2018 Optional" role="option" ng-repeat="item in items" ng-class="item.classNames" tid="listbox.item" class="ng-scope serverOptional">
					<div class="qv-listbox-tick"><i class="lui-icon tick-icon lui-icon--tick" ng-class="{'lui-icon--tick': !item.locked, 'lui-icon--lock': item.locked, }"></i></div>
					<div class="qv-listbox-text" ng-style="item.style" dir="auto" style="text-align: left;">
						<span ng-attr-title="{{item.tipText}}" title="HO2018">
							<!-- ngRepeat: textItem in item.textItems --><span ng-repeat="textItem in item.textItems" ng-class="{ highlighted: textItem.isHighlighted }" ng-bind="textItem.text" class="ng-binding ng-scope">HO2018</span><!-- end ngRepeat: textItem in item.textItems -->
						</span>
					</div>
				</li><!-- end ngRepeat: item in items --><li tabindex="-1" aria-label="SP2018 Optional" role="option" ng-repeat="item in items" ng-class="item.classNames" tid="listbox.item" class="ng-scope serverOptional">
					<div class="qv-listbox-tick"><i class="lui-icon tick-icon lui-icon--tick" ng-class="{'lui-icon--tick': !item.locked, 'lui-icon--lock': item.locked, }"></i></div>
					<div class="qv-listbox-text" ng-style="item.style" dir="auto" style="text-align: left;">
						<span ng-attr-title="{{item.tipText}}" title="SP2018">
							<!-- ngRepeat: textItem in item.textItems --><span ng-repeat="textItem in item.textItems" ng-class="{ highlighted: textItem.isHighlighted }" ng-bind="textItem.text" class="ng-binding ng-scope">SP2018</span><!-- end ngRepeat: textItem in item.textItems -->
						</span>
					</div>
				</li><!-- end ngRepeat: item in items --><li tabindex="-1" aria-label="SP2019 Optional" role="option" ng-repeat="item in items" ng-class="item.classNames" tid="listbox.item" class="ng-scope serverOptional">
					<div class="qv-listbox-tick"><i class="lui-icon tick-icon lui-icon--tick" ng-class="{'lui-icon--tick': !item.locked, 'lui-icon--lock': item.locked, }"></i></div>
					<div class="qv-listbox-text" ng-style="item.style" dir="auto" style="text-align: left;">
						<span ng-attr-title="{{item.tipText}}" title="SP2019">
							<!-- ngRepeat: textItem in item.textItems --><span ng-repeat="textItem in item.textItems" ng-class="{ highlighted: textItem.isHighlighted }" ng-bind="textItem.text" class="ng-binding ng-scope">SP2019</span><!-- end ngRepeat: textItem in item.textItems -->
						</span>
					</div>
				</li><!-- end ngRepeat: item in items --><li tabindex="-1" aria-label="SU2018 Optional" role="option" ng-repeat="item in items" ng-class="item.classNames" tid="listbox.item" class="ng-scope serverOptional">
					<div class="qv-listbox-tick"><i class="lui-icon tick-icon lui-icon--tick" ng-class="{'lui-icon--tick': !item.locked, 'lui-icon--lock': item.locked, }"></i></div>
					<div class="qv-listbox-text" ng-style="item.style" dir="auto" style="text-align: left;">
						<span ng-attr-title="{{item.tipText}}" title="SU2018">
							<!-- ngRepeat: textItem in item.textItems --><span ng-repeat="textItem in item.textItems" ng-class="{ highlighted: textItem.isHighlighted }" ng-bind="textItem.text" class="ng-binding ng-scope">SU2018</span><!-- end ngRepeat: textItem in item.textItems -->
						</span>
					</div>
				</li><!-- end ngRepeat: item in items -->
				<li ng-style="loaderStyle" class="qv-scroll-row-loader qv-scroll-loader qv-animate ng-isolate-scope" tag="li" style="width: 0px; height: 0px;"><!-- ngIf: showRain --></li>
				<li class="qv-listbox-load-buttons qv-scroll-data-load-buttons ng-isolate-scope ng-hide" ng-class="{ previous: previous }" tag="li" ng-show="navigatable &amp;&amp; scrollApi.loadNext" on-load="scrollApi.gotoNextBlock()" text="Object.Listbox.LoadMore">
	<div ng-transclude=""></div>
	<button class="lui-button" qva-activate="load()" ng-disabled="disabled">
		<p q-translation="Object.Listbox.LoadMore">Load more</p>
	</button>
</li>
			</ul>
		</div>
	<!-- ngIf: scrollbarY.enabled -->
	<!-- ngIf: scrollbarX.enabled -->
	<!-- ngIf: scrollbarY.enabled -->
	<!-- ngIf: scrollbarX.enabled -->
	<!-- ngIf: scrollbarY.enabled -->
	<!-- ngIf: scrollbarX.enabled -->
</div>
		<div ng-style="loaderStyle" class="qv-scroll-loader qv-animate ng-isolate-scope" style="width: 0px; height: 0px;"><!-- ngIf: showRain --></div>
	</div>
</div></div>
			</div>
		</div>
		<div class="qv-footer-wrapper ng-hide" ng-show="object.hasFrame &amp;&amp; object.showTitles &amp;&amp; !!layout.footnote" ng-style="styles.footer" style="font-size: 0.923077em; color: rgb(128, 128, 128); background-color: transparent;">
			<!-- ngIf: object.hasFrame && object.showTitles && !!layout.footnote -->
		</div>


	<div qva-direction="" x-dir-setting="ltr" class="qv-object-nav" aria-hidden="true" ng-class="{'zero-top' : options.isZoomed, 'visible' : navMenu.visible, 'active': options.isActive, 'inline' : thinHeader}" dir="ltr">
			<!-- ngRepeat: menuItem in navMenu.items -->
		</div>

	</article>

	<!-- ngIf: options.isZoomed && object.hasSoftProperties -->
</div>
		</div>
	</div>
</ng-transclude>
	<!-- ngIf: showArrow --><div class="lui-popover__arrow ng-scope lui-popover__arrow--bottom" ng-if="showArrow" ng-style="arrow.style" ng-class="'lui-popover__arrow--'+arrow.direction" style="left: 122px;"></div><!-- end ngIf: showArrow -->
</div>
</div>